page-home {
  .bg-image {
      background-image: url('../../assets/imgs/presto-background.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }
}

.buttonAppHome {
  border-radius: 10px;
  background: #c1272d;
  margin: 40px auto 0 12.5%;
  width: 75%;
}

.footer-icon {
  color: aliceblue;
  margin: auto auto auto 30px;
}

.footer-icon-conta {
  color: aliceblue;
  margin: auto auto auto 240px;
}
