page-drinks-menu {
  .bg-image {
    background-image: url('../../assets/imgs/presto-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
